<!-- views/partials/footer.ejs -->
<div class="container-fluid site-footer">
  <div class="row">
    <span>
      <div class="col-md-4 col-md-offset-4"><a href="https://twitter.com/brgproductsllc " target="_blank " ><img src="http://www.niftybuttons.com/ChrisWallace_Large/twitter.png " title="(Morty Buckles Twitter) " border="0 " style="margin:1px; "></a> <a href="https://www.facebook.com/BRG-Products-LLC-157357097687008/ " target="_blank " ><img src="http://www.niftybuttons.com/ChrisWallace_Large/facebook.png " title="(Morty Buckles Facebook) " border="0 " style="margin:1px; "></a><a href="https://www.linkedin.com/in/morty-buckles-0198226 " target="_blank " ><img src="http://www.niftybuttons.com/ChrisWallace_Large/linkedin.png " title="(Morty Buckles Linkedin) " border="0 " style="margin:1px; "></a><a  class="glyphicon glyphicon-envelope" aria-hidden="true" title="(Morty Buckles Email) " href= "https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&to=bucklesm21@gmail.com&su=Portfolio%20Inquiry&body=" target="_blank" ></a><a class="text-bottom" href="https://github.com/mbuckles?tab=repositories" target="_blank" title="(Morty Buckles Github) "><i class="fa fa-github" aria-hidden="true"></i></a>
      </span>
    </div>

  </div>
</div>
